

.chat_select_item_wrapper {
  min-height: 100px;
  background-color: #537AC2;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px 10px 10px 0;
  border-radius: 5px;
}

.chat_select_item_wrapper_photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo_container {
  height: 80px;
  width: 80px;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.chat-select-item_img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}

.chat_select_item_wrapper_info {
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin-left: 5px;
}

.name_time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3 {
  font-weight: 600;
  font-size: 18px;
}

.time {
  font-weight: 300;
  font-size: 11px;
}

.messages {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.last_message {
  font-weight: 300;
  font-size: 14px;
  margin-right: 5px;
}

.new_message_container {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.new_message {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #D47500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: #FFFFFF;
  color: #537AC2;
}