
style
    include chat-select-item.module.scss
mixin chatSelectItem(chat)
    -let mod = ''
    -if(chat.isActive) mod = "active"
    li(class = "chat_select_item_wrapper "+ mod)
        section.chat_select_item_wrapper_photo
            .photo_container
                img(class="chat-select-item_img" src=chat.url alt="avatar")
        section.chat_select_item_wrapper_info
            .name_time
                h3=chat.name
                .time сегодня 10:50
            .messages
                .last_message=chat.lastMessage
                .new_message_container
                    if(!mod && chat.newMessageCount)
                        .new_message=chat.newMessageCount
                    if(mod)
                        img(src="images/delete.png")
