.chat_header_wrapper {
  width: 100%;
  height: 100px;
  background-color: #D47500;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.chat_header_info {
  display: flex;
  align-items: center;
}

.avatar_container {
  border-radius: 100%;
  border: 1px solid #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.name {
  margin-left: 40px;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}