style
    include navigation-foter.module.scss
div.chat_navigation_footer_wrapper
    section.chat_navigation_footer_search
        input(class="footer_search_input" placeholder="поиск")

    section.chat_navigation_footer_menu
        a(href="./pages/settings/index.html")
            img(src="images/profile.png" alt ="profile")
        a(href='./pages/login/index.html')
            img(src="images/logout.png" alt ="logout")