style
    include chat-send-message.module.scss
div.chat-send-message_wrapper
    img(src="images/photo.png" alt ="profile")
    input(class="footer_search_input" placeholder="поиск")
    img(src="images/send.png" alt ="logout")

